<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> Yo Bro !!</p>
        <button id='button1' type = 'button'> click Here!! </button>
    </div>
    
    {{>footer}}
<script src = '/js/extra.js'> </script>
</body>

</html>